body{
  background: #b38844;
background: radial-gradient(circle, rgba(179, 136, 68, 1) 6%, rgba(94, 94, 94, 1) 36%, rgba(112, 112, 112, 1) 83%);
}


/* Styling for individual chat messages */
.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 18px;
  max-width: 70%;
  word-wrap: break-word;
}

/* Styling for user-sent messages */
.message.user {
  background-color: #000000;
  color: white;
  width: fit-content;
  margin-left: auto;
}

/* Styling for reply */
.message.assistant {
  background-color: #ffffff;
  color: #000000;
  margin-right: auto;
  margin: 5px;
}

/* input and send bg */
.area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #cccccc00;
}

/* input field */
.area input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 16px;
}


/* Styling for a disabled send button */
.input-area button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Spinner Styles */
.spinner {
  margin: 20px auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #007bff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
    -webkit-transform: scale(0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}